<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        role="navigation"
        mode="side"
        opened="true"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Link 1</a>
            <a mat-list-item href="#">Link 2</a>
            <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>gui-web</span>
        </mat-toolbar>

        <!-- todo tests -->
        @if(!userService.isReady()) {
        <mat-progress-spinner mode="indeterminate"/>
        } @else {

        @if(userService.user()) { <div>Hello {{ userService.user()?.name }}!</div> }
        <button mat-raised-button color="primary" (click)="onTest()">@if (!userService.user()) { Login } @else { Logout }</button>
        @if(!userService.user()) { <br/><mat-checkbox [(ngModel)]="persistentLogin">Stay logged in</mat-checkbox> }

        }

    </mat-sidenav-content>
</mat-sidenav-container>
